

      <div class="topnav" id="myTopnav">
        <a routerLink="addHome" class="nav-link" routerLinkActive="active">Home</a>
        <a routerLink="addStore" class="nav-link" routerLinkActive="active">Store</a>
        <a routerLink="addEmployee" class="nav-link" routerLinkActive="active"> Employee</a>
        <a routerLink="addCustomer" class="nav-link" routerLinkActive="active">Customer</a>
        <a routerLink="addProduct" class="nav-link" routerLinkActive="active"> Product</a>
        <a routerLink="addCard" class="nav-link" routerLinkActive="active"> Card</a>
        <a routerLink="addBill" class="nav-link" routerLinkActive="active"> Bill</a>
        <a routerLink="addPayment" class="nav-link" routerLinkActive="active"> Payment</a>
        <a routerLink="addCumulativePoint" class="nav-link" routerLinkActive="active"> Cumulative Point</a>
      </div>
  
        <div class="align">
        <app-date></app-date>
        <!-- <app-print></app-print> -->
       </div>
   


      <router-outlet></router-outlet>

