<!-- <label for="birthday">Birthday:</label>
<input type="date" id="birthday" name="birthday">

<div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>Action - 1</button>
          <button ngbDropdownItem>Another Action</button>
          <button ngbDropdownItem>Something else is here</button>
        </div>
      </div>
    </div> -->

    <!-- <div class="dropdown">
        <button class="dropbtn">DisplayList
          <i class="fa fa-caret-down"></i>
        </button>
        <a href="#about">About</a>
        <div class="dropdown-content">
          <a routerLink="displayCustomer" class="nav-link" routerLinkActive="active"> displayCustomer</a>
          
          <a routerLink="displayProduct" class="nav-link" routerLinkActive="active"> displayProduct</a>
  
          <a routerLink="displayBill" class="nav-link" routerLinkActive="active"> displayBill</a>
  
          <a routerLink="displayPayment" class="nav-link" routerLinkActive="active"> displayPayment</a>
  
          <a routerLink="displayCumulativePoint" class="nav-link" routerLinkActive="active"> displayCumulativePoint</a>
  
          <a routerLink="displayStore" class="nav-link" routerLinkActive="active"> displayStore</a>
  
          <a routerLink="displayEmployee" class="nav-link" routerLinkActive="active"> displayEmployee</a>
  
          <a routerLink="displayCard" class="nav-link" routerLinkActive="active"> displayCard</a>
        </div>
      </div> -->

      <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Display List</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem><a routerLink="displayCustomer" class="nav-link" routerLinkActive="active"> displayCustomer</a>
              </button>
              <button ngbDropdownItem><a routerLink="displayProduct" class="nav-link" routerLinkActive="active"> displayProduct</a>
              </button>
              <button ngbDropdownItem> <a routerLink="displayBill" class="nav-link" routerLinkActive="active"> displayBill</a>
              </button>
              <button ngbDropdownItem><a routerLink="displayPayment" class="nav-link" routerLinkActive="active"> displayPayment</a>
              </button>

              <button ngbDropdownItem> <a routerLink="displayCumulativePoint" class="nav-link" routerLinkActive="active"> displayCumulativePoint</a>
              </button>

              <button ngbDropdownItem><a routerLink="displayStore" class="nav-link" routerLinkActive="active"> displayStore</a>
              </button>
              <button ngbDropdownItem> <a routerLink="displayEmployee" class="nav-link" routerLinkActive="active"> displayEmployee</a>
              </button>
              <button ngbDropdownItem> <a routerLink="displayCard" class="nav-link" routerLinkActive="active"> displayCard</a>
              </button>
            

              
            </div>
          </div>
        </div>